.wrapper {
    --bottom-avatar: -100px;
    margin-bottom: calc(0px - var(--bottom-avatar) + 28px);
    position: relative;
    margin-top: -16px;
}

.wrapper-avatar {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.name {
    font-weight: 650;
    font-size: 2.3rem;
}

.desc {
    font-size: 1.6rem;
}
